body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container{
    width: 80%;
    margin:0 auto;
}

header{
    background: #a516b8;
}

header:after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding-top: 20px;
}

nav{
    float: right;
    margin-bottom: 0%;
    padding-top: 20px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left:70px;
    padding-top: 20px;
    position: relative;

}

nav a{
    color: #2e2c2c;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 14px;
}


nav a:hover{
    color:#000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;
    position: absolute;
    top: -13px;
    transition: all ease-in-out 250ms;
} 

nav a:hover::before{
    width:100%;
}

.social{
    padding-bottom:20px;
}

h2{
     background-color: #ad86b3;
     margin-left: 375px;
     margin-right: 370px;
     color: #363636;
     font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
     text-align: center;
     text-transform: capitalize;
     border-style:groove;
     border-width: 5px;
     border-color:rgb(137, 182, 182);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     border-radius: .2em;
     border: 1px solid #cccccc;
     font-weight: 400;
}


.bc{
    background-color: #8d838f;
     margin-left: 375px;
     margin-right: 370px;
     color: #363636;
     font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
     text-align: center;
     text-transform: capitalize;
     border-style:groove;
     border-width: 5px;
     border-color:rgb(137, 182, 182);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     border-radius: .2em;
     border: 1px solid #cccccc;
     font-weight: 400;
}

p{
    background: #8d838f;
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    color:#242323;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border-style:groove;
    border-width: 5px;
    border-color:rgb(137, 182, 182);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    border-radius: .2em;
    border: 1px solid #cccccc;
    font-weight: 400;
}
